<div class="row">
  <%= form_for(@post) do |f| %>
    <div class="input-field col s12">
      <%= f.text_area :content, placeholder: "Submit a blog post...", id: "post", type: "text", class: "materialize-textarea" %>
    </div>

    <button class="btn btn-default pull-right" type="submit">Post</button>

  <% end %>
</div>

<div class="row">
  <div class="col s12">
    <ul class="collection">
      <%= render @posts %>
    </ul>
  </div>
</div>
