<div class="row">
  <%= form_for(@post) do |f| %>
    <div class="input-field col s12">
      <div class="form-group">
        <%= f.text_area :content, placeholder: "Submit a blog post...", class: 'form-control', readonly: false %>
      </div>

    </div>

    <button class="btn btn-default btn-sm pull-right" type="submit">Post</button>

  <% end %>
</div>

<div class="row">
  <div class="col s12">
    <div class="form">
      <%= render @posts %>
    </div>
  </div>
</div>
