<div class="row">
  <div class="col-lg-12">
    <%= form_for( @post, html: { class: 'form-horizontal', role: 'form', multipart: true, id: "post_#{@post.id}" } ) do |f| %>

        <div class="form-group">
          <%= f.label :content %>
          <%= f.text_area :content, { class: 'form-control', readonly: readonly } %>
        </div>

        <% if @post.comments %>
           <% @post.comments.each do |c| %>
              <div class="form-group">
                 <%= text_field_tag :title, c.title, { class: 'form-control' } %>
              </div>
           <% end %>
        <% end %>

  <% end %>
  </div>
</div>
