<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title">Post #<%= @post.id %></h3></div>
  <div class="panel-body">

    <%= render partial: "form", locals: {readonly: true} %>

  </div>
</div>

<%= link_to "OK", root_url, class: "btn btn-primary btn-lg" %>

